<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Conditional Rendering</title>
        <script src="https://unpkg.com/vue@3.0.2"></script>
    </head>

    <body>
        <h1>Conditional Rendering</h1>
        <div id="app">
            <div v-if="showBook">       <!-- v-if is an directive which we can use to show data on the basis of some conditions -->
                <i>{{ title }} - {{ author }} - {{ age }}</i>
            </div>
            <button @click="toggleBooks">
                <span v-if="showBook">Hide Books</span>
                <span v-else>Show Books</span>
            </button>
            <div>
                <i v-if="showBook">Currently showing books...</i>
                <i v-else>No Books Available</i>
            </div>
        </div>
        <script src="app.js"></script>
    </body>

</html>